<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <div id="root"> </div>
    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright">
                    <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
                    <a href="{{@site.url}}">Home</a>
                    <a href="{{@site.url}}/signup">Signup</a>
                    {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
                    {{/if}}
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                </section>
                <nav class="site-footer-nav">
                    Published with
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>
        <!-- Uncomment for custom trigger button for members.js
        <div data-members-trigger-button
            style="z-index: 2147483000; position: fixed; bottom: 20px; right: 120px; width: 60px; height: 60px; box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px; border-radius: 50%; background-color: rgb(62, 176, 239); animation: 250ms ease 0s 1 normal none running animation-bhegco; transition: opacity 0.3s ease 0s;">
            </iframe>
            <div id="membersjs-trigger-component"
                style="position: absolute; top: 0px; left: 0px; width: 60px; height: 60px; cursor: pointer; transform-origin: center center; backface-visibility: hidden; -webkit-font-smoothing: antialiased; border-radius: 50%; overflow: hidden;">
                <div
                    style="display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: absolute; top: 0px; bottom: 0px; width: 100%; opacity: 1; transform: rotate(0deg) scale(1); transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;">
                    <svg id="Regular" viewBox="0 0 24 24" style="width: 24px; height: 24px; color: rgb(255, 255, 255);">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                    stroke: currentColor;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 1px
                                }
                            </style>
                        </defs>
                        <title>single-neutral</title>
                        <circle class="cls-1" cx="12" cy="6" r="5.25"></circle>
                        <path class="cls-1" d="M2.25 23.25a9.75 9.75 0 0 1 19.5 0"></path>
                    </svg>
                </div>
            </div>
        </div>
        -->

    </div>

   {{> "notifications"}}



    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        });
    </script>


    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    <script src="{{asset "built/infinitescroll.js"}}"></script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');
        var stripe = getParameterByName('stripe');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }
            if (action == 'signup') {
                window.location = '{{@site.url}}/signup/?action=checkout';
            }
            if (action == 'checkout') {
                $('body').addClass("signup-success");
            }
            if (action == 'signin') {
                $('body').addClass("signin-success");
            }
            if (stripe == 'success') {
                $('body').addClass("checkout-success");
            }
            if (stripe == 'billing-update-success') {
                $('body').addClass("billing-success");
            }
            if (stripe == 'billing-update-cancel') {
                $('body').addClass("billing-cancel");
            }

            $('.notification-close').click(function () {
                $(this).parent().addClass('closed');
                var uri = window.location.toString();
                if (uri.indexOf("?") > 0) {
                    var clean_uri = uri.substring(0, uri.indexOf("?"));
                    window.history.replaceState({}, document.title, clean_uri);
                }
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });

            // Account navigation menu
            $('.account-menu-avatar').click(function(event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });

            $('.account-menu-dropdown').click(function(event) {
                event.stopPropagation();
            });

            $('body').click(function () {
                $('.account-menu-avatar').removeClass('active');
            });
        });
    </script>

    <script src="{{asset "built/members.js"}}"></script>
    <script>
        var data = {
            site: {
                title: "{{@site.title}}",
                description: "{{@site.description}}",
                logo: "{{img_url @site.logo}}",
                blogUrl: window.location.origin,
                adminUrl: window.location.origin + "/ghost"
            }
        };
        {{#if @member}}
            data.member = {
                email: "{{@member.email}}",
                isPaid: "{{@member.paid}}",
                avatarImage: "{{@member.avatar_image}}",
                plans: {
                    monthly: "{{@price.monthly}}",
                    yearly: "{{@price.yearly}}",
                }
            }
        {{/if}}
        window.GhostMembers.initMembersJS(data);
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
